/* .ellipseStyle{
  width: 80px;
  height: 80px;
  max-width: 100%;
} */
.headerFont{
  font-size: 3vw;
  color: var(--drk-background-clr);
  max-width: 100%;

}
.locationImgs-standerd{
  width: 1.5vw;
  height: 1.5vw;
  margin: 5px 2px !important;
  max-width: 100%;
}
.font-onDestination-BOX{
  margin: 5px 0;
  max-width: 100%;
  font-size: 1.5vw;
  color: #698673;
  font-weight: bold;
}
.imgArrow{
  height: auto;
  max-width: 100%;
  margin: 11px 0 !important;
}

.destinationBox{
  max-width: 100%;
  box-shadow: 0 0px 8px -4px rgb(48 48 48);
  border-radius: 8px;
}

.plansImgStyle{
  font-size: 3vw;
  box-shadow: 0 0px 10px -4px rgb(48 48 48);
  border-radius: 6px;
  color: #698673;
  padding: 1.2vw 0 !important;
  max-width: 100%;
  width: 65%;
}
.active{
  color: white;
  background-color: #698673;
}

.steps-headFont {
  font-size: 22px;
  color: var(--drk-background-clr);
  max-width: 100%;
  font-weight: bold;

}
.map-part{
  width: 35%;
  height: 100vh;
  position: absolute;
  left: 65%;
  animation-name: example;
  animation-duration: .5s;
  z-index: -999;
}

.home-btn {
  font-size: 1.5vw;
  border: 1px solid var(--drk-background-clr) !important;
  color:var(--drk-background-clr) ;
}

.home-btn:hover {
  background: var(--drk-background-clr);
  color: white;

}
.formHeadStyle{
  font-size: 1.5vw;
  letter-spacing: 1.5px;
  color: var(--drk-background-clr);
  font-weight: bolder;
  padding: 0 0 0 20px !important;
}

.formStyle{
  z-index: 11111;
  box-shadow: 0 0px 10px -4px rgb(48 48 48);
  background-color: white;
  border-radius: 8px;
  position: relative;
  max-width: 100%;
}

.circleDecorationTopForm{
  width: 6vw;
  position :absolute;;
  left: 86%;
  overflow: hidden;
  border-radius: 9px;
}

.circleDecorationBottomForm{
  width: 5vw;
  position: absolute;
  right: 100%;
  top: calc(100% - 5vw);
  overflow: hidden;
  border-radius: 9px;
  left: 0%;

}

.inputForm{
  border: 1px solid;
  border-radius: 4px;
  max-width: 100%;
}

.col-resizable{
  width: 10vw;
  height: 5%;
}

.iconInputLocation{
  position: absolute;
  top :28%
}

.btnStyle {
  align-items: center;
  background: #8ead99;
  box-shadow: 0 0px 8px -4px rgb(48 48 48);
  color: white;
  letter-spacing: 1.5px;
  font-size: 20px;
  width: 60%;
  border: none;
}

.btnStyle:hover {
  color: white;

}

.inputFormResize{
  width : auto
}

.mapArea {
  /* width: 97%; */
  max-width: 100%;
  height: 400px;
  position: relative;
  top: 5px;
  border: 2px solid #c4bfbf;
  border-radius: 10px;
}

.accordion-item:first-of-type .accordion-button {
  padding: 10px 5px !important;
  box-shadow: 0 0px 3px 2px #e0dada;
  color: gray;
  font-size: 18px;
}
.accordion-body {
  font-size: 18px !important;
}
.dotColor{
  color: green;
}

@keyframes example {
  from {
    left: 100%;
  }

  to {
    left: 65%;
  }
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .headerFont{
    font-size: 18px !important;
    padding-top: 8px !important ;
  }
  .home-btn{
    font-size: 14px;
  }
  .locationImgs-standerd {
    width: 18px ;
    height: 16px;

  }
  .font-onDestination-BOX {
    font-size: 14px;
  }
  .destinationBox{
    margin-top: 10px !important;
  }
  .plansImgStyle {
    font-size: 21px;
    width: 50%;
    margin: 10px 0 !important;
  }
  .steps-headFont {
  font-size: 18px;
  }
  .accordion{
    margin-left: 15px !important;
  }
    .accordion-item:first-of-type .accordion-button {
      font-size: 16px !important;
    }
    .accordion-body {
      font-size: 16px !important;
    }
    .formHeadStyle {
      font-size: 18px;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .headerFont {
        font-size: 32px !important;
        padding-top: 8px !important;
      }
      .home-btn {
        font-size: 25px;
      }
      .locationImgs-standerd {
        width: 20px;
        height: 20px;
      }
      .font-onDestination-BOX {
        font-size: 24px !important;
      }
      .destinationBox {
        margin-top: 20px !important;
      }
      .plansImgStyle {
        font-size: 28px  ;
        width: 60%;
      }
      .accordion-item:first-of-type .accordion-button {
        font-size: 24px !important;}
      .accordion-body {
        font-size: 22px !important;
      }
      .formHeadStyle {
        font-size: 21px;
      }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

