<img src="../../../../assets/background.png" alt="bg" class="map-part" />

<div class="row">
  <div class="col-sm-6 col-md-6 col-6">
    <div class="row">
      <div class="col-2">
        <img src="../../../../assets/Ellipse 1.png" class="ellipseStyle" alt="ellipse" />
      </div>
      <div class="col-10">
        <div class="row">
          <p class="d-inline headerFont fw-bold ps-2">Your Destination Guide</p>
        </div>
        <div class="row">
          <div class="col-11 destinationBox">
            <div class="row justify-content-between">
              <div class="col-4">
                <div class="row align-items-center">
                  <div class="col-2">
                    <img src="../../../../assets/currentLocation.png" alt="Current" class="locationImgs-standerd" />
                  </div>
                  <div class="col-10 text-center">
                    <p class="font-onDestination-BOX vetical-middle">
                      Nasr City
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <img src="../../../../assets/two-side-arrow.png" alt="Arrow" class="imgArrow" />
              </div>
              <div class="col-4">
                <div class="row align-items-center">
                  <div class="col-2">
                    <img src="../../../../assets/destinationLocation.png" alt="distination"
                      class="locationImgs-standerd" />
                  </div>
                  <div class="col-10 text-center">
                    <p class="font-onDestination-BOX">Ramsees</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-2 col-6">
    <button class="btn px-3 fw-bold home-btn mb-5 mt-2">Home</button>
  </div>
</div>
<div class="row">
  <div class="col-sm 12 col-md-6 col-lg-6">
    <div class="row mt-5 mb-3 justify-content-center">
      <div class="col-3 text-center" (click)="changeStatus(1)">
        @if(activePlan1){
        <i class="fa-solid fa-bus plansImgStyle active"></i>
        } @else{
        <i class="fa-solid fa-bus plansImgStyle"></i>
        }
        <!-- <img
          src="../../../../assets/bus2.png"
          alt="plane1"
          class="plansImgStyle"
          (click)="changeStatus()"
        /> -->
      </div>
      <div class="col-3 text-center" (click)="changeStatus(2)">
        @if(activePlan2){
        <i class="fa-solid fa-train-subway plansImgStyle active"></i> } @else{
        <i class="fa-solid fa-train-subway plansImgStyle"></i> }
        <!--
        <img
          src="../../../../assets/train2.png"
          alt="plane2"
          class="plansImgStyle"
        /> -->
      </div>
      <div class="col-3 text-center" (click)="changeStatus(3)">
        @if(activePlan3){
        <i class="fa-solid fa-train-tram plansImgStyle active"></i> } @else{
        <i class="fa-solid fa-train-tram plansImgStyle"></i> }

        <!-- <img
          src="../../../../assets/train1.png"
          alt="plane3"
          class="plansImgStyle"
        />
      </div> -->
      </div>
      <div class="col-3 text-center" (click)="changeStatus(4)">
        @if(activePlan4){
        <i class="fa-solid fa-car plansImgStyle active"></i> } @else{
        <i class="fa-solid fa-car plansImgStyle"></i> }

        <!-- <img
            src="../../../../assets/bus.png"
            alt="plane4"
            class="plansImgStyle"
          /> -->
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <p class="steps-headFont">Steps To Your Destination</p>
      </div>
    </div>
    <div class="row row mt-5 mb-3">plan drows</div>
    <div class="row ms-5 mb-3">
      <div class="col-11">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <i class="fa-solid fa-circle-dot dotColor me-2"></i>
                <span class="fw-bold">Plan 1</span>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body ps-4">
                <strong>This is the first item's plan body.</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm 12 col-md-6 col-lg-6">
    <div class="row justify-content-center">
      <div class="col-10 formStyle">
        <img src="../../../../assets/decoration-upper-left.png" alt="circle" class="circleDecorationTopForm" />
        <div class="row">
          <form [formGroup]="destinationForm" class="mt-3 mb-2 p-2">
            <div class="col-12 mb-2">
              <p class="formHeadStyle">Change Destination</p>
            </div>
            <div class="col-12 m-3">
              <div class="row justify-content-center">
                <div class="col-sm-12 col-md-4 col-lg-4 me-2 mt-2 inputFormResize">
                  <span class="p-input-icon-right">
                    <i class="fa-solid fa-location-crosshairs iconInputLocation"></i>
                    <input class="py-2 px-2 inputForm" type="text" pInputText placeholder="Current Destination"
                      formControlName="current" [(ngModel)]="address" />
                  </span>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 me-2 mt-2 inputFormResize">
                  <span class="p-input-icon-right">
                    <i class="fa-solid fa-location-dot iconInputLocation"></i>
                    <input #autocompleteSearchInput (input)="onInputChange($event)" class="py-2 px-2 inputForm"
                      type="text" pInputText placeholder="Destination" formControlName="destination" />
                  </span>
                </div>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-5">
                <button class="btn font-style-stable btnStyle fw-bold py-1 ms-3">
                  Plan
                </button>
              </div>
            </div>
          </form>
        </div>
        <img src="../../../../assets/decoration-down-right.png" alt="circle" class="circleDecorationBottomForm" />
      </div>
    </div>
    <div class="row justify-content-center mb-5">

      <div class="col-10">
        <div class="mapArea formStyle p-3">
          <google-map id="map" #map height="100%" width="100%" [center]="center" [zoom]="zoom" [options]="options">
            <map-marker [position]="center" [title]="'Your Location'"></map-marker>
          </google-map>

        </div>
      </div>
    </div>
  </div>
</div>