.login-heading {
  font-size: var(--large-fs-lg-screen);
  background-color: var(--main-background-clr);
  padding: 10px !important;
  color: white;
  border-radius: 0px 0px 25px 0px;
  text-align: center;
}
#Login-content {
  background-color: white;
}
.picture-animation {
  height: 100vh;
  /* background-color: black !important; */
}
input {
  border: 1px solid var(--light-background-clr) !important;
  color: var(--main-background-clr) !important;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  /* border-color: var(--main-background-clr); */
}
input:focus {
  border: 1px solid var(--main-background-clr) !important;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
input::placeholder {
  opacity: 0.4;
  /* font-weight: 600; */
}
.form-parent {
  height: 87vh !important;
}

.or-text {
  color: var(--main-background-clr);
  position: relative;
}
.or-text span {
  background-color: white !important;

  isolation: isolate !important;
  border-radius: 30%;
}
.forgot-password {
  color: var(--main-background-clr);
}
.forgot-password button {
  background-color: transparent !important;
  border: none;
  text-decoration: underline;
  color: var(--dark-text);
  font-weight: 700;
}
.or-text::before {
  content: "";
  position: absolute;
  height: 1px;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 70%;

  left: 50%;

  /* z-index: ; */
  background-color: var(--main-background-clr);
}

.social {
  width: 12%;
}

.buttons button {
  font-weight: 600;
}

.picture-animation {
  background-image: url("../../../assets/login-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--drk-background-clr);
  background-blend-mode: overlay;
  overflow: hidden;
}

.right-pic {
  rotate: 180deg;
  height: 100vh;
  animation: slide-to-right 800ms cubic-bezier(0.68, 0.18, 0, 1.06) forwards;
  left: 140px;
}
.left-pic {
  rotate: 180deg;
  height: 100vh;
  left: -20px !important;
  top: 0 !important;

  z-index: 10000;
}
.overlay {
  backdrop-filter: blur(10px);
  animation: no-blur 1s cubic-bezier(0.68, 0.18, 0, 1.06) forwards 500ms;
}
.create-account:hover {
  background-color: var(--drk-background-clr) !important;
}
@keyframes slide-to-right {
  0% {
    left: 140px;
  }
  100% {
    left: 650px;
  }
}

@keyframes no-blur {
  0% {
    backdrop-filter: blur(10px);
  }
  100% {
    backdrop-filter: blur(0px);
  }
}
