<footer class="mt-1">
    <div class="platforms ps-5">
        <div class="text">
            <h1><span style="color: #063C18; font-weight: bold;">Find us on all </span> <span style="color: #84A790;
                font-weight: bold;">platforms</span></h1>
            <p>our application is offically
                released on all platforms ios android and desktop</p>
            <div class="platforms-image mt-2">
                <img src="../../../assets/app-store 1.png" alt="app-store" class="me-2">
                <img src="../../../assets/google-play 1.png" alt="google-play">
            </div>
        </div>
        <div class="img">
            <img src="../../../assets/transparentPic 1.png" alt="">
        </div>
    </div>
    <div class="wave-image-footer">
        <img src="../../../assets/waveFooterSection.png" alt="waveFooterSection" />
    </div>
    <div class="container">
        <div class="text-center mt-2">
            <img src="../../../assets/WhatsApp Image 2024-03-10 at 1.55.59 PM.jpeg">
        </div>
        <div class="boxes mt-4">
            <div class=" about px-2">
                <h2 class="text-center mb-3">About</h2>
                <p class="">
                    "Presenting a cutting-edge <br>web application crafted by <br>the innovation of Trans IT,<br>
                    Engineered
                    by
                    Moova<br> Configuration Technology,<br>Alma Viva,and LTRA"
                </p>
            </div>
            <div class="">
                <h2 class=" mb-3">Services</h2>
                <div class="service ">
                    <ul>
                        <li>Reservations</li>
                        <li>Transportation</li>
                        <li>Trip plan</li>
                    </ul>
                </div>
            </div>
            <div class="">
                <h2 class=" mb-3">Contact</h2>
                <div class="contact">
                    <ul>
                        <li>
                            Address
                            <p class="ps-1">Cairo</p>
                        </li>
                        <li>
                            Phone
                            <p class="ps-1">+903231863482</p>
                        </li>
                        <li>
                            Email
                            <p class="ps-1">moova.eg</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="">
                <h2 class=" mb-3">Applications</h2>
                <div class="app">
                    <h6>Applications</h6>
                    <p class="ps-1">ios, andriod, desktop</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right text-center mt-4 py-2">
        <h6>Copyrights Reserved For Trans it</h6>
    </div>
</footer>