input {
  border: 1px solid var(--light-background-clr) !important;
  color: var(--main-background-clr) !important;
  /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); */

  /* border-color: var(--main-background-clr); */
}
input:focus {
  border: 1px solid var(--main-background-clr) !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
#retrieve-section {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000000;
  background-color: white;
}
input::placeholder {
  opacity: 0.4;
  /* font-weight: 600; */
  font-size: 14px !important;
}

.retrieve-wrapper {
  height: 87vh;
}

.text-color {
  color: var(--drk-background-clr) !important;
  opacity: 0.8;
}
.form-wrapper {
  background-color: rgba(255, 255, 255, 0.692);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 991px) {
  input::placeholder {
    opacity: 0.4;
    /* font-weight: 600; */
    text-align: center !important;
    font-size: 15px !important;
  }
  .form-wrapper {
    background-color: rgba(255, 255, 255, 0.692);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  }

  input {
    text-align: center;
  }
}
.reset-password-text {
  top: -55px;
  color: var(--main-background-clr);
  left: 10px;
  font-size: 32px;
}
@media screen and (max-width: 361px) {
  input::placeholder {
    opacity: 0.4;
    /* font-weight: 600; */
    text-align: center !important;
    font-size: 12px !important;
  }
  .form-wrapper {
    background-color: rgba(255, 255, 255, 0.692);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  }
}
