<div
  id="retrieve-section"
  style="view-transition-name: reset-password"
  class="retrieve-wrapper row justify-content-center align-items-center"
>
  <div
    class="form-wrapper col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6 col-10 p-4 rounded-2"
  >
    <div class="position-absolute reset-password-text">Reset Password</div>
    <div class="text-center text-muted text-color text-black-50 py-2">
      <p class="text-muted">
        Enter the verified email address and we will send you a password reset
        link.
      </p>
    </div>
    <form [formGroup]="forgotPasswordForm">
      <div class="pt-4">
        <input
          type="email"
          formControlName="email"
          class="form-control p-2"
          placeholder="Email Address "
        />
      </div>
      <div
        class="submit-btn py-3 w-100 d-flex justify-content-center align-items-center"
      >
        <button class="btn btn-primary py-2 my-2 px-4 w-auto">Submit</button>
      </div>
    </form>
  </div>
</div>
