ul li {
    list-style: none;
    cursor: pointer;
}

header {
    background-color: transparent !important;
    color: #fff;
    position: absolute;
    top: 10px;
    z-index: 10000;
    min-width: 100%;
    max-height: 100vh;
}

.line {
    height: 1px;
    width: 60px;
    background-color: #fff;
}

.login-icon {
    display: none;
}

.navbar-toggler i {
    color: #fff;
    /* border: 1px solid #fff; */
    /* padding: 10px; */
}

.language-login-mobile {
    display: none !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        justify-content: space-between !important;
    }


}

@media (max-width: 991px) {
    .login-icon {
        display: block;
    }

    .logo {
        display: none !important;
    }

    .language {
        display: none !important;
    }

    .login-button {
        display: none !important;
    }

    .language-login-mobile {
        display: flex !important;
    }

    header nav ul {
        margin-top: 20px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px !important;
    }

    .authButtons {
        display: flex;
        justify-content: center;
        margin-top: 15px !important;
    }

}

@media (max-width: 485px) {
    header nav ul {
        margin-top: 10px !important;
        gap: 3px !important;
    }

    .authButtons {
        display: flex;
        justify-content: center;
        margin-top: 3px !important;
    }
}