<div class="row">
  <div class="row">
    <div class="col-1">
      <img
        src="../../../../assets/Ellipse 1.png"
        class="ellipseStyle"
        alt="ellipse"
      />
    </div>
    <div class="col-10 ms-4">
      <div class="row">
        <p class="d-inline headerFont fw-bold">Your Destination Guide</p>
      </div>
      <div class="row">
        <img
          src="../../../../assets/currentLocation.png"
          alt="Current"
          class="locationImgs-standerd"
        />
        <div class="col-2">
          <p>Nasr City</p>
        </div>
        <div class="col-2">
          <img src="../../../../assets/two-side-arrow.png" alt="Arrow" />
        </div>
        <img
          src="../../../../assets/destinationLocation.png"
          alt="distination"
          class="locationImgs-standerd"
        />
        <div class="col-2">
          <p>Ramsees</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6"></div>
  <div class="col-6"></div>
</div>
