<div class="row header">
  <div class="col-10">
    <p class="pageHeader ms-5">Local Delights</p>
    <div class="ms-5">
      <p class="serviceName">Showing Restaurants</p>
    </div>
  </div>
  <div class="col-2">
    <button class="btn btn-outline-light px-2 fs-4 mt-2 fw-bold home-btn">
      Home
    </button>
  </div>
</div>
<div class="row">
  <div class="col-7">
    <div class="row">
      <div class="col-7 ms-3">
        <p class="third-level">
          List of the nearby restaurants based on your location
        </p>
      </div>
      <div class="col-4">
        <label class="label-style fw-bold my-2">Filter By Name</label>
        <select class="form-select select-style">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="resturantHead shadow">
        <p class="cardion-style">
          <strong>Vinny Pizza</strong> all delcious pizza
        </p>
      </div>
      <!-- <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Accordion Item #1
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is
              shown by default, until the collapse plugin adds the appropriate
              classes that we use to style each element. These classes control
              the overall appearance, as well as the showing and hiding via CSS
              transitions. You can modify any of this with custom CSS or
              overriding our default variables. It's also worth noting that just
              about any HTML can go within the <code>.accordion-body</code>,
              though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="col-5">
    <div class="mapArea"></div>
  </div>
</div>
