<div class="row header">
  <div class="col-10">
    <div class="row"><p class="pageHeader ms-5">Local Delights</p></div>

    <div class="row ms-5 align-items-center">
      <img
        src="../../../../assets/whiteLine.png"
        alt="whitelineImg"
        class="lineBefore"
      />
      <div class="col-sm-6 col-md-6 col-lg-6">
        <p class="serviceName">Showing Restaurants</p>
      </div>
    </div>
  </div>
  <div class="col-2">
    <button class="btn btn-outline-light px-2 mt-2 fw-bold home-btn">
      Home
    </button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-7">
    <div class="row">
      <div class="col-7 ms-3">
        <p class="third-level">
          List of the nearby restaurants based on your location
        </p>
      </div>
      <div class="col-4">
        <label class="label-style fw-bold my-2">Filter By Name</label>
        <select class="form-select select-style">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div
        class="resturantHead shadow"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        <p class="cardion-style">
          <strong>Vinny Pizza</strong> all delcious pizza
        </p>
      </div>
      <div class="row shadow collapse viewAnimie p-3" id="collapseExample">
        <p class="">helllo</p>
        <div>
          <div class="row justify-content-end">
            <div class="col-3">
              <button class="btn locatopnbtn px-1" (click)="showMap()">
                Show Location
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 col-lg-5">
    <div class="mapArea">
      @if(showLocation){
      <p>map will be here</p>
      <!-- <google-map
        height="30vw"
        width="100%"
        [center]="this.googleService.center"
        [zoom]="this.googleService.zoom"
        (mapClick)="this.googleService.moveMap($event)"
        (mapMousemove)="this.googleService.move($event)"
      >
      </google-map> -->
      }
    </div>
    <!-- @if (showLocation){
    <div>Latitude: {{ this.googleService.display?.lat }}</div>
    <div>Longitude: {{ this.googleService.display?.lng }}</div>
    } -->
  </div>
</div>
