.header{
  width: 100%;
  height: 12vw;
  background: var(--main-background-clr);
}
.pageHeader{
  font-size: 4vw;
  font-weight: bold;
  color: white;
}

.lineBefore{
  width:7vw;
  height: 4px;
}
.serviceName{
  color: white;
  font-weight: bold;
  font-size: 3vw;
  /* text-align: center;
  max-width: 600px; */
}
/* .serviceName::before{
  content: "";
  display: block;
  width: 115px;
  height: 2px;
  background: white;
  top: 17%;
  position: absolute;
} */

.home-btn{
  position: absolute;
  right:10px;
  border: 2px solid !important;
  font-size: 2vw;
}
.home-btn:hover{
  background: var(--main-background-clr) ;
  color: white;

}
.third-level{
  font-size:2.5vw;
  color: var(--drk-background-clr);
}

.select-style{
  padding: 5px 10px !important;
  font-size: 1.2vw;
}
.label-style{
  font-size: 1.5vw;
  color: var(--drk-background-clr);
}

.mapArea{
  width: 97%;
  height: 400px;
  background-color: var(--main-background-clr);
  position: relative;
  top: 5px;
  border: 2px solid #c4bfbf;
  border-radius: 10px;

}
.mapArea::after{
  content: "Choose A Restaurant To Active The Map";
  width: 55%;
  text-align: center;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 0.5px;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 400px;
  margin: auto;

}
.resturantHead{
  width: 90%;
  background: #84a79026;
  border: 1px solid var(--light-background-clr);
  border-radius: 4px;
  z-index: 44;
}
.cardion-style{
  font-size: 1vw;
  padding: 10px !important;
  color: #938b8b;
}

strong{
  font-size: 1.5vw;
  padding: 0 5px !important;
  color: var(--drk-background-clr);
}
.cordion-text{
  font-size: 18px;
}
.viewAnimie{
  width: 90%;
  color: var(--drk-background-clr);
}
.locatopnbtn{
  background: var(--main-background-clr);
  color: white;
  font-size: 1vw;
  letter-spacing: 1.5px;

}
.map {
  width: 97%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .pageHeader {
      font-size: 25px;
    }
    .header {
      height: 80px;
    }
    .serviceName {
          font-size: 21px;
    }
    .home-btn {
      font-size: 18px;
    }
    .third-level {
      font-size: 18px;
    }
    .select-style {
      font-size: 15px;
    }
    .label-style {
      font-size: 18px;
    }
    .cardion-style {
      font-size: 18px;
    }
    strong {
      font-size: 16px;
    }
    .locatopnbtn {
      font-size: 16px;
    }
    .mapArea {
      height: 400px;
    }
    .mapArea::after {
      font-size: 21px;
      height: 400px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pageHeader {
      font-size: 38px;
    }

    .header {
      height: 120px;
    }

    .serviceName {
      font-size: 32px;
    }

    .home-btn {
      font-size: 24px;
    }

    .third-level {
      font-size: 24px;
    }

    .select-style {
      font-size: 18px;
    }

    .label-style {
      font-size: 24px;
    }

    .cardion-style {
      font-size: 24px;
    }

    strong {
      font-size: 21px;
    }

    .locatopnbtn {
      font-size: 21px;
    }

    .mapArea {
      height: 400px;
    }

    .mapArea::after {
      font-size: 24px;
      height: 400px;
    }
    .cordion-text {
     font-size: 24px;
        }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .pageHeader {
        font-size: 52px;
      }

      .header {
        height: 150px;
      }

      .serviceName {
        font-size: 38px;
      }

      .home-btn {
        font-size: 24px;
      }

      .third-level {
        font-size: 24px;
      }

      .select-style {
        font-size: 18px;
      }

      .label-style {
        font-size: 24px;
      }

      .cardion-style {
        font-size: 21px;
      }

      strong {
        font-size: 21px;
      }

      .locatopnbtn {
        font-size: 16px;
      }

      .mapArea {
        height: 400px;
      }

      .mapArea::after {
        font-size: 24px;
        height: 400px;
      }

      .cordion-text {
        font-size: 18px;
      }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

