.profile-header {
  background-color: var(--profile-header-bg) !important;
  height: 20vh;
}

.personal-data {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.215);
}
.profile-wrapper {
  position: relative;
  z-index: 1000;
  height: 80vh;
}
.active {
  display: block;
}
.user-data-heading {
  height: 20vh;
  background-color: var(--xlight-background-clr) !important;
}
.inactive {
  display: none;
}
.meta-container {
  height: 74vh;
  position: relative;
  z-index: 10000;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.215);
}
.meta-data-content button {
  border-radius: 5px !important;
  border-radius: 5px !important;
}
.meta-data-content {
  border-radius: 5px 0px 0px 0px !important;
}
.active-btn {
  position: relative;
  z-index: 100;
  transform: scaleY(1.1) !important ;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.215);
  background-color: var(--profile-header-circles) !important;
  color: white !important;
}

.main-content {
  height: 95vh;
}
.content {
  height: 85vh !important;
  margin-block: 0px !important;
}
.circle {
  background-color: var(--profile-header-circles) !important;
  width: 500px;
  height: 500px;

  border-radius: 50%;

  /* z-index: 100000000; */
}

.c-1 {
  left: -170px;
  top: -200px;
}
.c-2 {
  right: -230px;
  bottom: -350px;
}
.home-btn {
  isolation: isolate;
}
.home-btn button {
  transition: background-color 0.2s ease-in-out;
  font-weight: 700;
  position: relative;
  border-radius: 5px !important;
}
.fa-house {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: 0.3s ease;
}

.home-btn button:hover {
  color: var(--profile-header-bg) !important;
  background-color: white;
  border-width: 3px;
}

.profile-picture img {
  aspect-ratio: 1;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.user-data h3 {
  font-weight: bolder;
  font-size: var(--medium-paragraph-fs);
  color: var(--drk-background-clr);
}
.user-data p {
  font-size: var(--xxsm-fs-lg-screen) !important;
  color: var(--drk-background-clr);
  opacity: 0.8;
  font-weight: 600;
  text-transform: capitalize;
}
.form-inputs {
  border-bottom: 2px solid rgba(0, 0, 0, 0.15) !important;
}
.form-inputs input:disabled {
  background-color: white;
}
.home-btn button:hover div {
  opacity: 0;
}
.form-inputs input,
.form-inputs button {
  font-size: 13px !important;
  border: none !important;
  outline: none;
}

.inputs input:disabled ~ div,
.inputs input:focus ~ div,
.inputs input:valid ~ div {
  bottom: 35px !important;

  left: 0px;
}

.input-title {
  transition: 0.3s ease-in-out;
  bottom: 9px !important;
  left: 5px !important;
}
.home-btn button:hover .fa-house {
  opacity: 1;
}
.btn:nth-child(1) {
  border-radius: 5px 0px 0px 0px !important;
}
.btn:last-child {
  border-radius: 0px 5px 0px 0px !important;
}
.nav-btns-content {
  transition: 0.3s ease-in-out;
}
