.profile-header {
  background-color: var(--profile-header-bg) !important;
  height: 20vh;
}

.personal-data {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.215);
}
.profile-wrapper {
  position: relative;
  z-index: 1000;
  height: 80vh;
}
.active {
  display: block;
}

.user-data-heading {
  height: 20vh;
  background-color: var(--xlight-background-clr) !important;
}
.inactive {
  display: none;
}
.meta-container {
  height: 74vh;
  position: relative;
  z-index: 10000;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.215);
}
.meta-data-content button {
  border-radius: 5px !important;
  border-radius: 5px !important;
}
.meta-data-content {
  border-radius: 5px 0px 0px 0px !important;
}
.active-btn {
  position: relative;
  z-index: 100;
  transform: scaleY(1.1) !important ;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.215);
  background-color: var(--profile-header-circles) !important;
  color: white !important;
}

.main-content {
  height: 95vh;
}
.content {
  height: 85vh !important;
  margin-block: 0px !important;
}
.circle {
  background-color: var(--profile-header-circles) !important;
  width: 500px;
  height: 500px;

  border-radius: 50%;

  /* z-index: 100000000; */
}

.c-1 {
  left: -170px;
  top: -200px;
}
.c-2 {
  right: -230px;
  bottom: -350px;
}
.home-btn {
  isolation: isolate;
}
.home-btn button {
  transition: background-color 0.2s ease-in-out;
  font-weight: 700;
  position: relative;
  border-radius: 5px !important;
}
.fa-house {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: 0.3s ease;
}

.home-btn button:hover {
  color: var(--profile-header-bg) !important;
  background-color: white;
  border-width: 3px;
}

.profile-picture img {
  aspect-ratio: 1;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}
.user-data h3 {
  font-weight: 800;
  font-size: var(--medium-paragraph-fs);
  color: var(--drk-background-clr);
}
.user-data p {
  font-size: var(--xxsm-fs-lg-screen) !important;
  color: var(--drk-background-clr);
  opacity: 0.8;
  font-weight: 600;
  text-transform: capitalize;
}
.form-inputs {
  border-bottom: 2px solid rgba(0, 0, 0, 0.15) !important;
}
.form-inputs input:disabled {
  background-color: white;
}
.home-btn button:hover div {
  opacity: 0;
}
.form-inputs input,
.form-inputs button {
  font-size: 13px !important;
  border: none !important;
  outline: none;
}
.btn-group button:focus,
.btn-group button:active {
  border: none !important;
  outline: none;
}

.inputs input:disabled ~ div,
.inputs input:focus ~ div,
.inputs input:valid ~ div {
  bottom: 35px !important;

  left: 0px;
}

.input-title {
  transition: 0.3s ease-in-out;
  bottom: 9px !important;
  left: 5px !important;
}
.home-btn button:hover .fa-house {
  opacity: 1;
}
.btn:nth-child(1) {
  border-radius: 5px 0px 0px 0px !important;
}
.btn:last-child {
  border-radius: 0px 5px 0px 0px !important;
}
.nav-btns-content {
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 1200px) and (max-width: 1401px) {
  .user-data-heading {
    height: 18vh !important;
  }
}

@media screen and (min-width: 820px) and (max-width: 1200px) {
  .user-data-heading {
    flex-direction: column !important;
    background-color: transparent !important;
  }
  .profile-section-wrapper {
    gap: 100px !important;
  }
  .profile-picture {
    width: 25%;
    padding: 0px !important;
    transform: translateY(-10px);
  }
  .personal-data {
    overflow: visible !important;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
  }
  .profile-picture img {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.245);
    border: 3px solid white;
    border-radius: 50%;
  }
  .personal-data {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .user-data-form {
    padding-block: 0px !important;
    padding-inline: 6rem !important;
  }
  .meta-container {
    padding: 25px;
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2) !important; */
  }

  .btn-group {
    width: 100%;
  }

  .btn-group .btn {
    border-radius: 0px !important;
    background-color: var(--xlight-background-clr);
  }
  .active-btn {
    background-color: var(--profile-header-circles) !important;
  }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .user-data-heading {
    flex-direction: column !important;
    background-color: transparent !important;
  }
  .profile-section-wrapper {
    gap: 50px !important;
  }

  .profile-picture {
    width: 15%;
    padding: 0px !important;
    transform: translateY(-10px);
  }
  .profile-wrapper {
    height: 50vh;
  }
  .personal-data {
    overflow: visible !important;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
  }
  .profile-picture img {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.245);
    border: 3px solid white;
    border-radius: 50%;
  }
  .personal-data {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .user-data-form {
    padding-block: 0px !important;
    padding-inline: 6rem !important;
  }
  .meta-container {
    padding: 25px;
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2) !important; */
  }

  .btn-group {
    width: 100%;
  }

  .btn-group .btn {
    border-radius: 0px !important;
    background-color: var(--xlight-background-clr);
  }
  .active-btn {
    background-color: var(--profile-header-circles) !important;
  }
}
@media screen and (min-width: 520px) and (max-width: 820px) {
  .user-data-heading {
    flex-direction: column !important;
    background-color: transparent !important;
  }
  .profile-section-wrapper {
    gap: 100px !important;
  }
  .profile-picture {
    width: 25%;
    padding: 0px !important;
    transform: translateY(-10px);
  }

  .profile-picture img {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.245);
    border: 3px solid white;
    border-radius: 50%;
  }
  .personal-data {
    background-color: transparent !important;
    box-shadow: none !important;
    overflow: visible !important;
  }
  .user-data-form {
    padding-block: 0px !important;
    padding-inline: 6rem !important;
  }
  .meta-container {
    padding: 25px;
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2) !important; */
  }
  .btn-group button {
    border-radius: 0 !important;
  }
  .btn-group {
    isolation: isolate;

    width: 100%;
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2) !important; */
  }
}
@media screen and (min-width: 320px) and (max-width: 520px) {
  .user-data-heading {
    flex-direction: column !important;
    background-color: transparent !important;
  }
  .profile-section-wrapper {
    /* gap: 30px !important; */
  }
  .profile-picture {
    width: 25%;
    padding: 0px !important;
    transform: translateY(-10px);
  }
  .circle {
    width: 350px !important;
  }

  .profile-picture img {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.245);
    border: 3px solid white;
    border-radius: 50%;
  }
  .personal-data {
    background-color: transparent !important;
    box-shadow: none !important;
    overflow: visible !important;
  }
  .user-data-form {
    padding-block: 0px !important;
    padding-inline: 3rem !important;
  }
  .meta-container {
    padding: 25px;
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2) !important; */
  }
  .btn-group button {
    border-radius: 0 !important;
  }
  header {
    width: 100vw;
  }
  .btn-group {
    isolation: isolate;

    width: 100%;
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2) !important; */
  }
}
