<div class="row justify-content-center align-items-center form-parent">
  <div
    class="form-wrapper col-xxl-7 col-xl-10 col-lg-8 col-md-8 col-sm-10 col-11"
  >
    <form [formGroup]="loginForm">
      <div class="p-2">
        <input
          type="text"
          class="form-control p-2"
          placeholder="Username"
          formControlName="userName"
          id=""
        />
      </div>
      <div class="p-2">
        <input
          type="password"
          placeholder="Password"
          class="form-control p-2"
          formControlName="password"
          id=""
        />
      </div>
      <div class="buttons row p-2 py-4 gap-3">
        <button class="btn btn-outline-primary col-12 py-2" type="submit">
          Login
        </button>
        <button
          (click)="navigate()"
          class="btn btn-primary create-account col-12 py-2"
        >
          Create Account
        </button>
        <div
          class="col-12 d-flex justify-content-center align-items-center gap-2 forgot-password"
        >
          <p>Forgot password ?</p>
          <button [routerLink]="['/login/signin/retrieve']">Click Here</button>
        </div>
        <div class="col-12 px-1">
          <div class="fs-5 w-100 text-center or-text">
            <span class="px-5">or</span>
          </div>
        </div>
        <div
          class="col-12 w-100 d-flex justify-content-center align-items-center gap-5"
        >
          <button class="btn btn-primary text-white social p-1 fs-3">
            <i class="fa-brands fa-facebook-f"></i>
          </button>
          <button class="btn btn-primary text-white social p-1 fs-3">
            <i class="fa-brands fa-google"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
