.line {
  width: 40px;
  height: 2px;
  background-color: var(--drk-background-clr);
}
.shadow-sm {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2) !important;
}
.trips-container .trips-headline {
  font-size: 16px;
  color: var(--drk-background-clr) !important;
  opacity: 0.8;
}
.trips-container .trips-description {
  font-size: 14px;
  color: var(--drk-background-clr) !important;
  opacity: 0.6;
}
.trips-container i {
  font-size: 18px;
}
.trip-wrapper {
  transition: 0.3s ease-in-out;
}

.trip-wrapper:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

@media screen and (min-width: 1023px) and (max-width: 1200px) {
  .trips-container .trip-wrapper div {
    font-weight: 700;
    font-size: var(--medium-paragraph-fs) !important;
  }
  .trips-container .trips-wrapper {
    width: 100%;
  }
  .heading h2 {
    font-weight: 800;
    font-size: var(--large-paragraph-fs) !important;
  }
}
@media screen and (min-width: 820px) and (max-width: 1023px) {
  .trips-container .trip-wrapper div {
    font-weight: 700;
    font-size: var(--small-paragraph-fs) !important;
  }
  .trips-container .trips-wrapper {
    width: 100%;
  }
  .heading h2 {
    font-weight: 800;
    font-size: var(--large-paragraph-fs) !important;
  }
}
@media screen and (min-width: 720px) and (max-width: 820px) {
  .trips-container .trip-wrapper div {
    font-weight: 700;
    font-size: var(--small-paragraph-fs) !important;
  }
  .trips-container .trips-wrapper {
    width: 100% !important;
  }
  .heading h2 {
    font-weight: 800;
    font-size: var(--large-paragraph-fs) !important;
  }
}
@media screen and (max-width: 560px) {
  .trips-container {
    gap: 5px !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .trips-container .trip-wrapper {
    width: 100%;
    font-size: var(--large-paragraph-fs) !important;
  }
  /* .trips-main-wrapper {
    padding: 0rem !important;
  } */
}
