:root {
  --main-background-clr: #84a790 !important;
  --drk-background-clr: #1d4a2f;
  --profile-header-bg: #84a790;
  --profile-header-circles: #457154;
  --dark-text: #468942;
  --light-background-clr: #a5c8b18e;
  --xlight-background-clr: #e6ede9;
  --large-headlines-fs: 52px;
  --med-headlines-fs: 38px;
  --small-headlines-fs: 32px;
  --large-paragraph-fs: 28px;
  --medium-paragraph-fs: 24px;
  --small-paragraph-fs: 21px;
  --xsm-paragraph-fs: 18px;
  --xxsm-fs-lg-screen: 16px;
}

@font-face {
  font-family: almarai;
  src: url("./assets/fonts/Almarai-Regular.ttf");
}

* {
  padding: 0px !important;
  margin: 0px !important;
  box-sizing: border-box;

  font-family: "almarai";
}

.btn-primary {
  background-color: var(--main-background-clr) !important;
  border-color: var(--main-background-clr) !important;
}

.btn-outline-primary {
  border-color: var(--main-background-clr) !important;
  color: var(--main-background-clr) !important;
}
.btn-outline-primary:hover {
  color: white !important;

  background-color: var(--main-background-clr) !important;
}

.text-primary {
  color: var(--main-background-clr) !important;
}

.white-border {
  border: 2px solid white !important;
}
