:root {
  --main-background-clr: #84a790;
  --drk-background-clr: #1d4a2f;
  --light-background-clr: #a5c8b18e;
  --large-fs-lg-screen: 48px;
  --med-fs-lg-screen: 38px;
  --medPr-fs-lg-screen: 32px;
  --small-fs-lg-screen: 28px;
  --xsm-fs-lg-screen: 18px;
  --xxsm-fs-lg-screen: 16px;
}

@font-face {
  font-family: almarai;
  src: url("./assets/fonts/Almarai-Regular.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-family: "almarai";
}
